<div class="website">
  <div class="footer-full">
    <div class="footer-top">
      <div class="col-4">
        <div class="customer-ftribe-com">customer&#64;ftribe.com</div>
        <div class="installment-purchase-guide">Installment Purchase Guide</div>
        <div class="import-policy">Import Policy</div>
        <div class="customer-support">Customer Support:</div>
        <div class="security-error-report">Security Error Report:</div>
        <div class="admin-ftribe-com">admin&#64;ftribe.com</div>
      </div>
      <div class="col-3">
        <div class="frequently-asked-questions">Frequently asked Questions</div>
        <div class="submit-support-request">Submit Support Request</div>
        <div class="ordering-guide">Ordering Guide</div>
        <div class="shipping-methods">Shipping Methods</div>
        <div class="customer-support2">Customer Support</div>
        <div class="hotline-customer-service">Hotline Customer Service</div>
        <div class="_212-929-9953">212 929 9953</div>
      </div>
      <div class="col-2">
        <div class="operation-regulation-of-ec-exchange">
          Operation Regulation of EC-Exchange
        </div>
        <div class="return-policy">Return Policy</div>
        <div class="privacy-policy">Privacy Policy</div>
        <div class="selling-with-ftribe">Selling With ftribe</div>
        <div class="cooperation-association">Cooperation - Association</div>
      </div>
      <div class="col-1">
        <div class="contact">Contact</div>
        <div class="ftribe-co-ltd">ftribe Co., Ltd</div>
        <div class="mail">
          <div class="admin-ftribe-com2">admin&#64;ftribe.com</div>
          <div class="mail2">
            <img class="group" src="../assets/group0.svg" />
          </div>
        </div>
        <div class="phone">
          <div class="_212-929-99532">212 929 9953</div>
          <img class="phone2" src="../assets/phone1.svg" />
        </div>
        <div class="address">
          <div class="_1658-rosewood-lane-new-york-city-ny">
            1658 Rosewood Lane
            <br />
            New York city, NY
          </div>
          <img class="location" src="../assets/location0.svg" />
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="copyright-2020-ftribe">Copyright 2020 © ftribe</div>
      <div class="introduce-partner-incentives-promotion-contact-frequently-asked-questions">
        Introduce . Partner Incentives . Promotion . Contact . Frequently asked
        Questions
      </div>
      <div class="payment-method-mastercard" style="
            background: url(payment-method-mastercard0.png) center;
            background-size: cover;
            background-repeat: no-repeat;
          ">
        <div class="rectangle-2"></div>
      </div>
      <div class="payment-method-paypal" style="
            background: url(payment-method-paypal0.png) center;
            background-size: cover;
            background-repeat: no-repeat;
          ">
        <div class="rectangle-1"></div>
      </div>
      <div class="payment-method-visa" style="
            background: url(payment-method-visa0.png) center;
            background-size: cover;
            background-repeat: no-repeat;
          ">
        <div class="rectangle-3"></div>
      </div>
      <div class="payment-method-stripe" style="
            background: url(payment-method-stripe0.png) center;
            background-size: cover;
            background-repeat: no-repeat;
          ">
        <div class="rectangle-4"></div>
      </div>
      <div class="payment-method-cash-on-delivery" style="
            background: url(payment-method-cash-on-delivery0.png) center;
            background-size: cover;
            background-repeat: no-repeat;
          ">
        <div class="rectangle-4"></div>
      </div>
    </div>
  </div>
  <div class="background-section"></div>
  <div class="feature-box-normal">
    <img class="delivery" src="../assets/delivery0.svg" />
    <div class="title">Free Shipping</div>
    <div class="for-invoices-over-1-500">
      For invoices
      <br />
      over $1.500
    </div>
  </div>
  <div class="feature-box-normal2">
    <img class="money-back" src="../assets/money-back0.svg" />
    <div class="title">Cash Back</div>
    <div class="sub-title">When paying for products via Dasun Wallet</div>
  </div>
  <div class="feature-box-normal3">
    <img class="support" src="../assets/support0.svg" />
    <div class="title">24/7 Support</div>
    <div class="sub-title">When something goes wrong</div>
  </div>
  <div class="background-section2"></div>
  <div class="product-card-raito-1-1-vertical-medium-badge">
    <div class="product-thumbnail">
      <img class="image" src="../assets/image0.png" />
      <div class="badge-product-status-new">
        <div class="new">New</div>
      </div>
    </div>
    <div class="product-infomation">
      <div class="title-price">
        <div class="title2">
          Fujiwa alkaline ion drink 1250ml - Barrel of 12 bottles
        </div>
        <div class="_32">$32</div>
      </div>
      <div class="by-co-ltd-fujiwa-usa">
        <span>
          <span class="by-co-ltd-fujiwa-usa-span">by</span>
          <span class="by-co-ltd-fujiwa-usa-span2">Co., Ltd FUJIWA USA</span>
        </span>
      </div>
    </div>
  </div>
  <div class="product-card-raito-1-1-vertical-medium-default">
    <div class="product-thumbnail">
      <img class="image" src="../assets/image1.png" />
    </div>
    <div class="product-infomation">
      <div class="title-price">
        <div class="title2">Oak Wine</div>
        <div class="_517-79">$517.79</div>
      </div>
      <div class="by-gesan-investment-joint-stock-company">
        <span>
          <span class="by-gesan-investment-joint-stock-company-span">by</span>
          <span class="by-gesan-investment-joint-stock-company-span2">
            Gesan Investment Joint Stock Company
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="product-card-raito-1-1-vertical-medium-default2">
    <div class="product-thumbnail">
      <img class="image" src="../assets/image2.png" />
    </div>
    <div class="product-infomation">
      <div class="title-price">
        <div class="title2">Pure Kinh Mon Tapioca Flour WATAPY</div>
        <div class="_58">$58</div>
      </div>
      <div class="by-gesan-investment-joint-stock-company">
        <span>
          <span class="by-gesan-investment-joint-stock-company-span">by</span>
          <span class="by-gesan-investment-joint-stock-company-span2">
            Gesan Investment Joint Stock Company
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="product-card-raito-1-1-vertical-medium-badge2">
    <div class="product-thumbnail">
      <img class="image" src="../assets/image3.png" />
      <div class="badge">
        <div class="new">New</div>
      </div>
    </div>
    <div class="product-infomation">
      <div class="title-price">
        <div class="title2">
          Fujiwa alkaline drinking water in 4 bottles of 5L (with faucet)
        </div>
        <div class="_2300">$2300</div>
      </div>
      <div class="by-co-ltd-fujiwa-usa">
        <span>
          <span class="by-co-ltd-fujiwa-usa-span">by</span>
          <span class="by-co-ltd-fujiwa-usa-span2">Co., Ltd FUJIWA USA</span>
        </span>
      </div>
    </div>
  </div>
  <div class="title-6">
    <div class="luxury-food">Luxury Food</div>
    <div class="tabs-bar-style-1-small-normal-right">
      <div class="tabs">
        <div class="tab-1">
          <div class="content">All</div>
        </div>
        <div class="tab-2">
          <div class="content2">Drinks - Preparation</div>
        </div>
        <div class="tab-style-1-small-normal-default">
          <div class="content2">Cereals</div>
        </div>
        <div class="tab-5">
          <div class="content2">Drink</div>
        </div>
        <div class="tab-6">
          <div class="content2">Resources</div>
        </div>
      </div>
    </div>
    <div class="btn-slider">
      <div class="btn-small-icon-only-default">
        <img class="arrow-left" src="../assets/arrow-left0.svg" />
      </div>
      <div class="btn-small-icon-only-default2">
        <img class="arrow-right" src="../assets/arrow-right0.svg" />
      </div>
    </div>
  </div>
  <div class="background-section3"></div>
  <div class="product-card-raito-3-2-vertical-medium-badge">
    <div class="product-thumbnail2">
      <img class="image2" src="../assets/image4.png" />
      <div class="badge">
        <div class="new">New</div>
      </div>
    </div>
    <div class="product-infomation">
      <div class="title-price">
        <div class="title2">
          Apartment for rent in GELA CENTRAL PARK 1,2,3,4 PN and LAND 72
        </div>
        <div class="_2500-month">$2500 /month</div>
      </div>
      <div class="by-flower-real-estate">
        <span>
          <span class="by-flower-real-estate-span">by</span>
          <span class="by-flower-real-estate-span2">Flower Real Estate</span>
        </span>
      </div>
    </div>
  </div>
  <div class="product-card-raito-3-2-vertical-medium-badge2">
    <div class="product-thumbnail2">
      <img class="image2" src="../assets/image5.png" />
      <div class="badge-product-status-deposited">
        <div class="ordered">Ordered</div>
      </div>
    </div>
    <div class="product-infomation">
      <div class="title-price">
        <div class="title2">
          Apartment for rent in District 10, Ha Do CENTROSA GARDEN
        </div>
        <div class="_517-79-month">$517.79 /month</div>
      </div>
      <div class="by-247-real-estate">
        <span>
          <span class="by-247-real-estate-span">by</span>
          <span class="by-247-real-estate-span2">247 REAL ESTATE</span>
        </span>
      </div>
    </div>
  </div>
  <div class="product-card-raito-3-2-vertical-medium-badge3">
    <div class="product-thumbnail2">
      <img class="image2" src="../assets/image6.png" />
      <div class="badge-product-status-endow">
        <div class="deal">Deal</div>
      </div>
    </div>
    <div class="product-infomation">
      <div class="title-price">
        <div class="title2">Apartment for rent in DIAMOND</div>
        <div class="_4505-month">$4505 /month</div>
      </div>
      <div class="by-flower-real-estate">
        <span>
          <span class="by-flower-real-estate-span">by</span>
          <span class="by-flower-real-estate-span2">Flower Real Estate</span>
        </span>
      </div>
    </div>
  </div>
  <div class="product-card-raito-3-2-vertical-medium-badge4">
    <div class="product-thumbnail2">
      <img class="image2" src="../assets/image7.png" />
      <div class="badge-product-status-viewed-a-lot">
        <div class="watch-a-lot">Watch a lot</div>
      </div>
    </div>
    <div class="product-infomation">
      <div class="title-price">
        <div class="title2">For Rent DALA GOLDEN RIVER (Ba Son) District 1</div>
        <div class="price">Price Agreement</div>
      </div>
      <div class="by-vanegroup">
        <span>
          <span class="by-vanegroup-span">by</span>
          <span class="by-vanegroup-span2">Vanegroup</span>
        </span>
      </div>
    </div>
  </div>
  <div class="title-6">
    <div class="real-estate">Real Estate</div>
    <div class="tabs-bar-style-1-small-normal-right2">
      <div class="tabs">
        <div class="tab-1">
          <div class="content">All</div>
        </div>
        <div class="tab-2">
          <div class="content2">House</div>
        </div>
        <div class="tab-3">
          <div class="content2">Land</div>
        </div>
        <div class="tab-style-1-small-normal-default">
          <div class="content2">House for rent</div>
        </div>
        <div class="tab-5">
          <div class="content2">Land for rent</div>
        </div>
        <div class="tab-6">
          <div class="content2">Project</div>
        </div>
      </div>
    </div>
    <div class="btn-slider2">
      <div class="btn-small-icon-only-default">
        <img class="arrow-left2" src="../assets/arrow-left1.svg" />
      </div>
      <div class="btn-small-icon-only-default2">
        <img class="arrow-right2" src="../assets/arrow-right1.svg" />
      </div>
    </div>
  </div>
  <div class="section-background"></div>
  <div class="product-list">
    <div class="product-card-raito-1-1-vertical-medium-badge3">
      <div class="product-thumbnail">
        <img class="image" src="../assets/image8.png" />
        <div class="badge-product-status-favorite">
          <div class="favorite">Favorite</div>
        </div>
      </div>
      <div class="product-infomation">
        <div class="title-price">
          <div class="title2">Angel Whitening Treament Lotion</div>
          <div class="_132-90">$132.90</div>
        </div>
        <div class="by-co-ltd-beautyful-face">
          <span>
            <span class="by-co-ltd-beautyful-face-span">by</span>
            <span class="by-co-ltd-beautyful-face-span2">
              Co., Ltd Beautyful Face
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-vertical-medium-badge4">
      <div class="product-thumbnail">
        <img class="image" src="../assets/image9.png" />
        <div class="badge-product-status-new">
          <div class="new">New</div>
        </div>
      </div>
      <div class="product-infomation">
        <div class="title-price">
          <div class="title2">CIC2 Skin Decode Kit</div>
          <div class="_690-38">$690.38</div>
        </div>
        <div class="by-co-ltd-baby-girl">
          <span>
            <span class="by-co-ltd-baby-girl-span">by</span>
            <span class="by-co-ltd-baby-girl-span2">CO., LTD Baby Girl</span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-vertical-medium-badge5">
      <div class="product-thumbnail">
        <img class="image" src="../assets/image10.png" />
        <div class="badge-product-status-sold-out">
          <div class="sold-out">Sold Out</div>
        </div>
      </div>
      <div class="product-infomation">
        <div class="title-price">
          <div class="title2">Sunscreen moisturizing intensify</div>
          <div class="_69-04">$69.04</div>
        </div>
        <div class="by-co-ltd-baby-girl">
          <span>
            <span class="by-co-ltd-baby-girl-span">by</span>
            <span class="by-co-ltd-baby-girl-span2">CO., LTD Baby Girl</span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-vertical-medium-default3">
      <div class="product-thumbnail">
        <img class="image3" src="../assets/image11.png" />
      </div>
      <div class="product-infomation">
        <div class="title-price">
          <div class="title2">Anti-allergy serum</div>
          <div class="_132-90">$132.90</div>
        </div>
        <div class="by-co-ltd-byware-cosmetic">
          <span>
            <span class="by-co-ltd-byware-cosmetic-span">by</span>
            <span class="by-co-ltd-byware-cosmetic-span2">
              Co., Ltd Byware Cosmetic
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="title-7">
    <div class="cosmetics">Cosmetics</div>
    <div class="tabs-bar-style-1-small-normal-right3">
      <div class="tabs">
        <div class="tab-1">
          <div class="text">All</div>
        </div>
        <div class="tab-2">
          <div class="text2">Lotion</div>
        </div>
        <div class="tab-3">
          <div class="text2">Mask</div>
        </div>
        <div class="tab-style-1-small-normal-default">
          <div class="text2">Perfume</div>
        </div>
      </div>
    </div>
    <div class="btn-slider3">
      <div class="btn-small-icon-only-default">
        <img class="arrow-left3" src="../assets/arrow-left2.svg" />
      </div>
      <div class="btn-small-icon-only-default2">
        <img class="arrow-right3" src="../assets/arrow-right2.svg" />
      </div>
    </div>
  </div>
  <div class="section-background2"></div>
  <div class="title-7">
    <div class="watch">Watch</div>
    <div class="tabs-bar-style-1-small-normal-right4">
      <div class="tabs">
        <div class="tab-1">
          <div class="text">All</div>
        </div>
        <div class="tab-2">
          <div class="text2">Men&#039;s watch</div>
        </div>
        <div class="tab-3">
          <div class="text2">Women&#039;s Watches</div>
        </div>
        <div class="tab-style-1-small-normal-default">
          <div class="text2">Smart watch</div>
        </div>
      </div>
    </div>
    <div class="btn-slider4">
      <div class="btn-small-icon-only-default">
        <img class="arrow-left4" src="../assets/arrow-left3.svg" />
      </div>
      <div class="btn-small-icon-only-default2">
        <img class="arrow-right4" src="../assets/arrow-right3.svg" />
      </div>
    </div>
  </div>
  <div class="product-list2">
    <div class="product-card-raito-1-1-vertical-small-badge">
      <div class="product-thumbnail3">
        <img class="image4" src="../assets/image12.png" />
        <div class="badge-product-status-discount">
          <div class="_5">- 5%</div>
        </div>
      </div>
      <div class="product-infomation2">
        <div class="name-price">
          <div class="hand-watch-rossini-5395-t-01-g">
            Hand Watch Rossini – 5395T01G
          </div>
          <div class="_183-64">$183.64</div>
          <div class="_193-31">$193.31</div>
        </div>
        <div class="by-co-ltd-minie-li">
          <span>
            <span class="by-co-ltd-minie-li-span">by</span>
            <span class="by-co-ltd-minie-li-span2">Co., Ltd Minie Li</span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-vertical-small-badge2">
      <div class="product-thumbnail3">
        <img class="image5" src="../assets/image13.png" />
        <div class="badge-product-status-new">
          <div class="new">New</div>
        </div>
      </div>
      <div class="product-infomation2">
        <div class="name-price">
          <div class="hand-watch-swiss-alpine-military-3293-1537">
            Hand Watch Swiss Alpine Military – 3293.1537
          </div>
          <div class="_215-31">$215.31</div>
        </div>
        <div class="by-co-ltd-smart-marketing">
          <span>
            <span class="by-co-ltd-smart-marketing-span">by</span>
            <span class="by-co-ltd-smart-marketing-span2">
              Co., Ltd SMART MARKETING
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-vertical-small-badge3">
      <div class="product-thumbnail3">
        <img class="image6" src="../assets/image14.png" />
        <div class="badge-product-status-new">
          <div class="new">New</div>
        </div>
      </div>
      <div class="product-infomation2">
        <div class="name-price">
          <div class="hand-watch-for-man-larmes-lm-tf-004-ot-49-g-211-4-nb-optimus-prime">
            Watch For Man Larmes LM-TF004.OT49G.211.4NB - Optimus Prime
          </div>
          <div class="_73-01">$73.01</div>
        </div>
        <div class="by-mobile-world">
          <span>
            <span class="by-mobile-world-span">by</span>
            <span class="by-mobile-world-span2">Mobile World</span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-vertical-small-default">
      <img class="image7" src="../assets/image15.png" />
      <div class="product-infomation2">
        <div class="name-price">
          <div class="hand-watch-for-man-citizen-bi-5000-87-l">
            Hand Watch For Man Citizen BI5000-87L
          </div>
          <div class="_66-79">$66.79</div>
        </div>
        <div class="by-co-ltd-minie-li">
          <span>
            <span class="by-co-ltd-minie-li-span">by</span>
            <span class="by-co-ltd-minie-li-span2">Co., Ltd Minie Li</span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-vertical-small-badge4">
      <div class="product-thumbnail3">
        <img class="image4" src="../assets/image16.png" />
        <div class="badge-product-status-discount">
          <div class="_49">- 49%</div>
        </div>
      </div>
      <div class="product-infomation2">
        <div class="name-price">
          <div class="title3">Apple Watch Series 5 MWV62VN/A</div>
          <div class="_514-51">$514.51</div>
          <div class="_259-24">$259.24</div>
        </div>
        <div class="by-co-ltd-minie-li">
          <span>
            <span class="by-co-ltd-minie-li-span">by</span>
            <span class="by-co-ltd-minie-li-span2">Co., Ltd Minie Li</span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-vertical-small-badge5">
      <div class="product-thumbnail3">
        <img class="image8" src="../assets/image17.png" />
        <div class="badge-product-status-discount">
          <div class="_12">- 12%</div>
        </div>
      </div>
      <div class="product-infomation2">
        <div class="name-price">
          <div class="hand-watch-rossini-1328-w-01-a">
            Hand Watch Rossini – 1328W01A
          </div>
          <div class="_146-71">$146.71</div>
          <div class="_94-32">$94.32</div>
        </div>
        <div class="by-co-ltd-smart-marketing">
          <span>
            <span class="by-co-ltd-smart-marketing-span">by</span>
            <span class="by-co-ltd-smart-marketing-span2">
              Co., Ltd SMART MARKETING
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="section-background3"></div>
  <div class="title-7">
    <div class="technology">Technology</div>
    <div class="tabs-bar-style-1-small-normal-right5">
      <div class="tabs">
        <div class="tab-1">
          <div class="text">All</div>
        </div>
        <div class="tab-2">
          <div class="text2">Smart Watch</div>
        </div>
        <div class="tab-3">
          <div class="text2">Laptop</div>
        </div>
        <div class="tab-style-1-small-normal-default">
          <div class="text2">Tablet</div>
        </div>
        <div class="tab-5">
          <div class="text2">Desktop</div>
        </div>
        <div class="tab-6">
          <div class="text2">Accessories</div>
        </div>
      </div>
    </div>
    <div class="btn-slider5">
      <div class="btn-small-icon-only-default">
        <img class="arrow-left5" src="../assets/arrow-left4.svg" />
      </div>
      <div class="btn-small-icon-only-default2">
        <img class="arrow-right5" src="../assets/arrow-right4.svg" />
      </div>
    </div>
  </div>
  <div class="product-list-1">
    <div class="product-card-raito-1-1-horizontall-small-badge">
      <div class="product-thumbnail3">
        <img class="image9" src="../assets/image18.png" />
        <div class="badge-product-status-discount">
          <div class="_15">- 15%</div>
        </div>
      </div>
      <div class="product-infomation2">
        <div class="name-price">
          <div class="title3">
            Apple Macbook Air MWTJ2SA/A Space Grey (2020)
          </div>
          <div class="_1-099">$1,099</div>
          <div class="_1193-71">$1193.71</div>
        </div>
        <div class="by-kimpine-calculator">
          <span>
            <span class="by-kimpine-calculator-span">by</span>
            <span class="by-kimpine-calculator-span2">Kimpine Calculator</span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-horizontall-small-badge2">
      <div class="product-thumbnail3">
        <img class="image9" src="../assets/image19.png" />
        <div class="badge-product-status-new">
          <div class="new">New</div>
        </div>
      </div>
      <div class="product-infomation2">
        <div class="name-price">
          <div class="title3">Apple Macbook Pro 2019 MWP42SA/A</div>
          <div class="_2-013-54">$2,013.54</div>
        </div>
        <div class="by-co-ltd-minie-li">
          <span>
            <span class="by-co-ltd-minie-li-span">by</span>
            <span class="by-co-ltd-minie-li-span2">Co., Ltd Minie Li</span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-horizontall-small-badge3">
      <div class="product-thumbnail3">
        <img class="image10" src="../assets/image20.png" />
        <div class="badge-product-status-favorite">
          <div class="favorite">Favorite</div>
        </div>
      </div>
      <div class="product-infomation2">
        <div class="name-price">
          <div class="title3">Apple Watch Series 5 MWV62VN/A</div>
          <div class="_517-792">$517.79</div>
        </div>
        <div class="by-247-store">
          <span>
            <span class="by-247-store-span">by</span>
            <span class="by-247-store-span2">247 Store</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="product-list-2">
    <div class="product-card-raito-1-1-horizontall-small-default">
      <img class="image7" src="../assets/image21.png" />
      <div class="product-infomation2">
        <div class="name-price">
          <div class="title3">Apple Macbook Pro 2019 MWP42SA/A</div>
          <div class="_2-013-54">$2,013.54</div>
        </div>
        <div class="by-co-ltd-flower-in">
          <span>
            <span class="by-co-ltd-flower-in-span">by</span>
            <span class="by-co-ltd-flower-in-span2">Co., Ltd Flower In</span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-horizontall-small-badge4">
      <div class="product-thumbnail3">
        <img class="image9" src="../assets/image22.png" />
        <div class="badge-product-status-sold-out">
          <div class="sold-out">Sold Out</div>
        </div>
      </div>
      <div class="product-infomation2">
        <div class="name-price">
          <div class="title3">Apple Watch Series 5 MWV62VN/A</div>
          <div class="_193-312">$193.31</div>
        </div>
        <div class="by-m-y-t-nh-quang-huy">
          <span>
            <span class="by-m-y-t-nh-quang-huy-span">by</span>
            <span class="by-m-y-t-nh-quang-huy-span2">Kimpine Calculator</span>
          </span>
        </div>
      </div>
    </div>
    <div class="product-card-raito-1-1-horizontall-small-hover-3-actions">
      <div class="product-thumbnail3">
        <img class="image9" src="../assets/image23.png" />
        <div class="quick-actions">
          <div class="btn-medium-primary-default">
            <div class="add-to-cart">Add To Cart</div>
          </div>
          <div class="btn-medium-icon-only-default">
            <div class="eye-visble">
              <img class="group2" src="../assets/group1.svg" />
            </div>
          </div>
          <div class="btn-medium-icon-only-default2">
            <div class="heart">
              <img class="group3" src="../assets/group2.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="product-infomation2">
        <div class="name-price">
          <div class="title4">Logitech B175 wireless office mouse</div>
          <div class="_15-86">$15.86</div>
        </div>
        <div class="by-co-ltd-minie-li">
          <span>
            <span class="by-co-ltd-minie-li-span">by</span>
            <span class="by-co-ltd-minie-li-span2">Co., Ltd Minie Li</span>
          </span>
        </div>
      </div>
    </div>
    <img class="image-1" src="../assets/image-10.png" />
  </div>
  <div class="banner-grid-full-with-center-right">
    <div class="image11"></div>
    <div class="position">
      <div class="content-banner-medium">
        <div class="content3">
          <div class="new-product">New Product</div>
          <div class="fashionable-wallets">FASHIONABLE WALLETS</div>
          <div class="big-good-sale-for-her">BIG GOOD SALE FOR HER</div>
        </div>
        <div class="btn-medium-primary-default2">
          <div class="order-now">Order Now</div>
        </div>
      </div>
    </div>
  </div>
  <div class="background-secion"></div>
  <div class="product-card-sale">
    <div class="product-thumbnail">
      <img class="image" src="../assets/image25.png" />
      <div class="badge-product-status-discount">
        <div class="_12">- 12%</div>
      </div>
    </div>
    <div class="product-infomation3">
      <div class="btn-medium-primary-default3">
        <div class="add-to-cart">Add To Cart</div>
      </div>
      <div class="info">
        <div class="name-price2">
          <div class="apple-watch-series-5-mwv-62-vn-a">
            Apple Watch Series 5 MWV62VN/A
          </div>
          <div class="price2">
            <div class="price3">
              <div class="_514-512">$514.51</div>
              <div class="discount">
                <div class="_539-06">$539.06</div>
              </div>
            </div>
          </div>
        </div>
        <div class="process-promo-card">
          <div class="right-content">
            <div class="in-stock">In Stock:</div>
            <div class="_300">300</div>
          </div>
          <div class="background"></div>
          <div class="filled"></div>
          <div class="left-content">
            <div class="sold">Sold:</div>
            <div class="_700">700</div>
          </div>
        </div>
        <div class="count-down">
          <div class="time">
            <div class="day">Day</div>
            <div class="hour">Hour</div>
            <div class="min">Min</div>
            <div class="sec">Sec</div>
          </div>
          <div class="number">
            <div class="_1">
              <div class="bg"></div>
              <div class="_123">123</div>
            </div>
            <div class="_2">
              <div class="bg2"></div>
              <div class="_42">42</div>
            </div>
            <div class="_3">
              <div class="bg3"></div>
              <div class="_00">00</div>
            </div>
            <div class="_4">
              <div class="bg4"></div>
              <div class="_08">08</div>
            </div>
            <div class="div">:</div>
            <div class="div2">:</div>
            <div class="div3">:</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="promo-product">Promo Product</div>
  <div class="btn-small-text-default">
    <div class="see-all">See All</div>
  </div>
  <div class="btn-slider6">
    <div class="btn-small-icon-only-default">
      <img class="arrow-left6" src="../assets/arrow-left5.svg" />
    </div>
    <div class="btn-small-icon-only-default2">
      <img class="arrow-right6" src="../assets/arrow-right5.svg" />
    </div>
  </div>
  <div class="product-card-sale2">
    <div class="product-thumbnail">
      <img class="image" src="../assets/image26.png" />
      <div class="badge-product-status-discount">
        <div class="_15">- 15%</div>
      </div>
    </div>
    <div class="product-infomation3">
      <div class="btn-medium-primary-default3">
        <div class="add-to-cart">Add To Cart</div>
      </div>
      <div class="info">
        <div class="name-price2">
          <div class="title2">
            Apple Macbook Air MWTJ2SA/A Space Grey (2020)
          </div>
          <div class="price2">
            <div class="price3">
              <div class="_1-0992">$1,099</div>
              <div class="discount">
                <div class="_1193-712">$1193.71</div>
              </div>
            </div>
          </div>
        </div>
        <div class="process-promo-card">
          <div class="right-content">
            <div class="in-stock">In Stock:</div>
            <div class="_300">300</div>
          </div>
          <div class="background"></div>
          <div class="filled"></div>
          <div class="left-content">
            <div class="sold">Sold:</div>
            <div class="_700">700</div>
          </div>
        </div>
        <div class="count-down">
          <div class="time">
            <div class="day2">Day</div>
            <div class="hour2">Hour</div>
            <div class="min2">Min</div>
            <div class="sec2">Sec</div>
          </div>
          <div class="number">
            <div class="_1">
              <div class="bg5"></div>
              <div class="_1232">123</div>
            </div>
            <div class="_2">
              <div class="bg6"></div>
              <div class="_422">42</div>
            </div>
            <div class="_3">
              <div class="bg7"></div>
              <div class="_002">00</div>
            </div>
            <div class="_4">
              <div class="bg8"></div>
              <div class="_082">08</div>
            </div>
            <div class="div4">:</div>
            <div class="div5">:</div>
            <div class="div6">:</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rectangle-10"></div>
  <div class="banner-grid-btn-bottom-left">
    <div class="image12"></div>
    <div class="content-banner-small">
      <div class="content4">
        <div class="hot-deal">Hot Deal</div>
        <div class="tours-safe">TOURS SAFE</div>
        <div class="true-discount">TRUE DISCOUNT</div>
      </div>
      <div class="btn-medium-primary-default2">
        <div class="order-now">Order Now</div>
      </div>
    </div>
  </div>
  <div class="banner-grid-btn-bottom-left2">
    <div class="image12"></div>
    <div class="content-banner-small">
      <div class="content4">
        <div class="new-product2">New Product</div>
        <div class="experience-technology">EXPERIENCE TECHNOLOGY</div>
        <div class="relax-hightly">RELAX HIGHTLY</div>
      </div>
      <div class="btn-medium-primary-default2">
        <div class="order-now">Order Now</div>
      </div>
    </div>
  </div>
  <div class="banner-grid-special-stand">
    <div class="image12"></div>
    <div class="content-banner-small-special">
      <div class="subtitle">
        <div class="asus">Asus</div>
        <div class="supper-sale">Supper Sale</div>
        <div class="laptop-gaming">Laptop Gaming</div>
      </div>
      <div class="btn-medium-primary-default4">
        <div class="order-now">Order Now</div>
      </div>
    </div>
  </div>
  <div class="banner-grid-btn-action-bottom-left">
    <div class="image12"></div>
    <div class="content-banner-medium2">
      <div class="content3">
        <div class="new-product3">New Product</div>
        <div class="hand-watch">HAND WATCH</div>
        <div class="rossini">ROSSINI</div>
      </div>
      <div class="btn-medium-primary-default2">
        <div class="buy-now">Buy Now</div>
      </div>
    </div>
    <div class="pagination-dot">
      <div class="dot-5"></div>
      <div class="dot-4"></div>
      <div class="dot-3"></div>
      <div class="dot-2"></div>
      <div class="dot-1"></div>
    </div>
    <div class="btn-slider7">
      <div class="btn-small-icon-only-default">
        <img class="arrow-left7" src="../assets/arrow-left6.svg" />
      </div>
      <div class="btn-small-icon-only-default2">
        <img class="arrow-right7" src="../assets/arrow-right6.svg" />
      </div>
    </div>
  </div>
  <div class="banner-grid-basic-center-left">
    <div class="image12"></div>
    <div class="content-banner-xsmall">
      <div class="wine">Wine</div>
      <div class="title-sub">
        <div class="drunkenness">Drunkenness</div>
        <div class="deep-flavor">Deep Flavor</div>
      </div>
    </div>
  </div>
  <div class="banner-grid-basic-center-left2">
    <div class="image12"></div>
    <div class="content-banner-xsmall">
      <div class="cosmetic">Cosmetic</div>
      <div class="title-sub">
        <div class="maximi">MAXIMI</div>
        <div class="sale-50">Sale 50%</div>
      </div>
    </div>
  </div>
  <div class="banner-grid-basic-center-left3">
    <div class="image12"></div>
    <div class="content-banner-xsmall">
      <div class="sunglasses">Sunglasses</div>
      <div class="title-sub">
        <div class="authentic">Authentic</div>
        <div class="sale-off-50">Sale off 50%</div>
      </div>
    </div>
  </div>
  <div class="banner-grid-basic-center-left4">
    <img class="image13" src="../assets/image34.png" />
    <div class="content-banner-xsmall">
      <div class="big-deal">Big deal</div>
      <div class="title-sub">
        <div class="black-friday">Black Friday</div>
        <div class="buy-1-get-1">Buy 1 Get 1</div>
      </div>
    </div>
  </div>
  <div class="banner-grid-basic-center-left4">
    <div class="image12"></div>
    <div class="content-banner-xsmall">
      <div class="big-deal">Big deal</div>
      <div class="title-sub">
        <div class="black-friday">Black Friday</div>
        <div class="buy-1-get-1">Buy 1 Get 1</div>
      </div>
    </div>
  </div>
  <div class="banner-grid-basic-center-left5">
    <div class="image12"></div>
    <div class="content-banner-xsmall">
      <div class="fujiwa">Fujiwa</div>
      <div class="title-sub">
        <div class="ion-alkaline">ION Alkaline</div>
        <div class="micronutrient-supplements">
          Micronutrient
          <br />
          Supplements
        </div>
      </div>
    </div>
  </div>
  <div class="banner-grid-basic-center-left6">
    <div class="image12"></div>
    <div class="content-banner-xsmall">
      <div class="hand-wash">Hand Wash</div>
      <div class="title-sub">
        <div class="clean-hands">Clean hands</div>
        <div class="clean-bacteria">Clean bacteria</div>
      </div>
    </div>
  </div>
  <div class="banner-grid-basic-center-left7">
    <div class="image12"></div>
    <div class="content-banner-xsmall">
      <div class="fashion">Fashion</div>
      <div class="title-sub">
        <div class="nice-bag">Nice bag</div>
        <div class="nice-style">Nice style</div>
      </div>
    </div>
  </div>
  <div class="background-section4"></div>


  <div class="list-category">
  <!-- Real Estate -->
  <div 
    class="real-estate2" 
    (click)="selectCategoryById(1)"
    [class.selected-category]="selectedCategory?.id === 1"
  >
    <div class="content5">
      <img class="real-estate3" src="../assets/real-estate2.svg" />
      <div class="real-estate4">Real Estate</div>
    </div>
  </div>
  
  <!-- Watch -->
  <div 
    class="watch2" 
    (click)="selectCategoryById(2)"
    [class.selected-category]="selectedCategory?.id === 2"
  >
    <div class="content5">
      <img class="watch3" src="../assets/watch2.svg" />
      <div class="watch4">Watch</div>
    </div>
  </div>
  
  <!-- Glasses -->
  <div 
    class="glasses" 
    (click)="selectCategoryById(3)"
    [class.selected-category]="selectedCategory?.id === 3"
  >
    <div class="content5">
      <img class="glasses2" src="../assets/glasses1.svg" />
      <div class="glasses3">Glasses</div>
    </div>
  </div>
  
  <!-- Cosmetic -->
  <div 
    class="cosmetic2" 
    (click)="selectCategoryById(4)"
    [class.selected-category]="selectedCategory?.id === 4"
  >
    <div class="content5">
      <div class="cosmetic3">
        <img class="group4" src="../assets/group3.svg" />
      </div>
      <div class="cosmetic4">Cosmetic</div>
    </div>
  </div>
  
  <!-- Food High Grade -->
  <div 
    class="food-high-grade" 
    (click)="selectCategoryById(5)"
    [class.selected-category]="selectedCategory?.id === 5"
  >
    <div class="content5">
      <div class="drink">
        <img class="group5" src="../assets/group4.svg" />
        <img class="vector" src="../assets/vector0.svg" />
      </div>
      <div class="food-high-grade2">
        Food
        <br />
        High Grade
      </div>
    </div>
  </div>
  
  <!-- Technology -->
  <div 
    class="technology2" 
    (click)="selectCategoryById(6)"
    [class.selected-category]="selectedCategory?.id === 6"
  >
    <img class="union" src="../assets/union0.svg" />
    <img class="technology3" src="../assets/technology2.svg" />
    <div class="technology4">Technology</div>
  </div>
</div>





  <!-- Replace your static product list with this dynamic version -->
<div class="list-product">
  <!-- Default: Show first 6 products when no category selected -->
  <ng-container *ngIf="!selectedCategory">
    <div 
      *ngFor="let product of filteredProducts; let i = index" 
      [ngClass]="{
        'product-card-raito-1-1-vertical-small-badge6': i === 0,
        'product-card-raito-1-1-vertical-small-badge7': i === 1,
        'product-card-raito-1-1-vertical-small-badge8': i === 2,
        'product-card-raito-1-1-vertical-small-default2': i === 3,
        'product-card-raito-1-1-vertical-small-default3': i === 4,
        'product-card-raito-1-1-vertical-small-badge9': i === 5
      }"
    >
      <div *ngIf="product.badge || product.originalPrice" class="product-thumbnail3">
        <img class="image14" [src]="product.image" [alt]="product.name" />
        <div *ngIf="product.badge" [class]="getBadgeClass(product.badge)">
          <div class="new">{{ getBadgeText(product.badge) }}</div>
        </div>
      </div>
      <img *ngIf="!product.badge && !product.originalPrice" class="image7" [src]="product.image" [alt]="product.name" />
      
      <div class="product-infomation2">
        <div class="name-price">
          <div class="title3">{{ product.name }}</div>
          <div class="_2-013-54">${{ product.price.toLocaleString() }}</div>
          <div *ngIf="product.originalPrice" class="_1193-71">
            ${{ product.originalPrice.toLocaleString() }}
          </div>
        </div>
        <div class="by-co-ltd-minie-li">
          <span>
            <span class="by-co-ltd-minie-li-span">by</span>
            <span class="by-co-ltd-minie-li-span2">{{ product.seller }}</span>
          </span>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Show filtered products when category is selected -->
  <ng-container *ngIf="selectedCategory">
    <div 
      *ngFor="let product of filteredProducts; let i = index" 
      [ngClass]="{
        'product-card-raito-1-1-vertical-small-badge6': i === 0,
        'product-card-raito-1-1-vertical-small-badge7': i === 1,
        'product-card-raito-1-1-vertical-small-badge8': i === 2,
        'product-card-raito-1-1-vertical-small-default2': i === 3,
        'product-card-raito-1-1-vertical-small-default3': i === 4,
        'product-card-raito-1-1-vertical-small-badge9': i === 5
      }"
    >
      <div *ngIf="product.badge || product.originalPrice" class="product-thumbnail3">
        <img class="image14" [src]="product.image" [alt]="product.name" />
        <div *ngIf="product.badge" [class]="getBadgeClass(product.badge)">
          <div class="new">{{ getBadgeText(product.badge) }}</div>
        </div>
      </div>
      <img *ngIf="!product.badge && !product.originalPrice" class="image7" [src]="product.image" [alt]="product.name" />
      
      <div class="product-infomation2">
        <div class="name-price">
          <div class="title3">{{ product.name }}</div>
          <div class="_2-013-54">${{ product.price.toLocaleString() }}</div>
          <div *ngIf="product.originalPrice" class="_1193-71">
            ${{ product.originalPrice.toLocaleString() }}
          </div>
        </div>
        <div class="by-co-ltd-minie-li">
          <span>
            <span class="by-co-ltd-minie-li-span">by</span>
            <span class="by-co-ltd-minie-li-span2">{{ product.seller }}</span>
          </span>
        </div>
      </div>
    </div>
  </ng-container>
</div>


  <div class="top">
    <div class="btn-slider8">
      <div class="btn-small-icon-only-default">
        <img class="arrow-left8" src="../assets/arrow-left7.svg" />
      </div>
      <div class="btn-small-icon-only-default2">
        <img class="arrow-right8" src="../assets/arrow-right7.svg" />
      </div>
    </div>
    <div class="btn-small-text-default2">
      <div class="see-all">See All</div>
    </div>
    <div class="shop-by-categories">Shop By Categories</div>
  </div>
  <div class="header">
    <div class="header-nav-2">
      <div class="content6">
        <div class="item-2-sub-menu-medium-icon-lv-1-1-closed">
          <img class="arrow-down" src="../assets/arrow-down0.svg" />
          <div class="icon-content">
            <div class="list-category2">
              <img class="vector2" src="../assets/vector1.svg" />
            </div>
            <div class="placeholder-text">Category</div>
          </div>
        </div>
        <div class="menu-item-2">
          <div class="sub-menu">New Product</div>
          <img class="arrow-down2" src="../assets/arrow-down1.svg" />
        </div>
        <div class="menu-item-22">
          <div class="sub-menu">Promotion</div>
          <div class="badge-basic-standalone-1">
            <div class="hot">HOT</div>
          </div>
        </div>
        <div class="menu-item-23">
          <div class="sub-menu">Home</div>
        </div>
        <div class="submenu">
          <div class="item-2-sub-menu-medium-icon-lv-1-1-closed2">
            <div class="icon-content">
              <div class="truck">
                <img class="group6" src="../assets/group5.svg" />
              </div>
              <div class="placeholder-text">Track Your Order</div>
            </div>
          </div>
          <div class="item-2-sub-menu-medium-icon-lv-1-1-closed3">
            <div class="icon-content">
              <div class="user">
                <img class="group7" src="../assets/group6.svg" />
              </div>
              <div class="placeholder-text2">Sign In/Register</div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="header-nav-1">
  <div class="content7">
    <div class="favorite2">
      <img class="group8" src="../assets/group7.svg" />
    </div>
    
    <!-- Search filter container -->
    <div class="search-fillter">
      <div class="input-large-default-1-normal-1-enabled">
        <div class="what-are-you-looking-for">
          What are you looking for?
        </div>
      </div>
      
      <!-- Category Dropdown - positioned absolutely to match your design -->
      <div class="dropdown-container-wrapper">
        <div 
          class="dropdown-large-item-default-1-enabled" 
          (click)="toggleDropdown($event)"
          [class.active]="isDropdownOpen"
          style="cursor: pointer; position: relative;"
        >
          <img 
            class="arrow-down3" 
            src="../assets/arrow-down2.svg" 
            [style.transform]="isDropdownOpen ? 'rotate(180deg)' : 'rotate(0deg)'"
          />
          <div class="category">
            {{ selectedCategory?.name || 'Category' }}
            <span *ngIf="selectedCategory" class="selected-category-count">
              ({{ selectedCategory.count }})
            </span>
          </div>
        </div>
        
        <!-- Dropdown Menu -->
        <div 
          class="dropdown-menu-custom" 
          *ngIf="isDropdownOpen"
          (click)="$event.stopPropagation()"
          [style.display]="isDropdownOpen ? 'block' : 'none'"
        >
          <div 
            *ngFor="let category of categories" 
            class="dropdown-item-custom"
            (click)="selectCategory(category)"
            [class.selected]="selectedCategory?.id === category.id"
          >
            <div class="dropdown-item-content">
              <span class="dropdown-category-name">{{ category.name }}</span>
              <span class="dropdown-category-count">({{ category.count }})</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="btn-medium-default">
      <div class="search">Search</div>
    </div>
    <div class="cart-badge">
      <div class="cart">
        <div class="base"></div>
        <img class="vector3" src="../assets/vector2.svg" />
      </div>
      <div class="badge-basic-standalone-12">
        <div class="_33">3</div>
      </div>
    </div>
  </div>
</div>



    <div class="header-top-nav">
      <div class="content8">
        <div class="menu2">
          <div class="menu-item-1">
            <div class="introduce">Introduce</div>
          </div>
          <div class="div7">.</div>
          <div class="menu-item-24">
            <div class="partner-incentives">Partner Incentives</div>
          </div>
          <div class="div7">.</div>
          <div class="menu-item-3">
            <div class="promotion">Promotion</div>
          </div>
          <div class="div7">.</div>
          <div class="menu-item-4">
            <div class="contact2">Contact</div>
          </div>
          <div class="div7">.</div>
          <div class="menu-item-5">
            <div class="frequently-asked-questions2">
              Frequently asked questions
            </div>
          </div>
        </div>
        <div class="mail3">
          <img class="group9" src="../assets/group8.svg" />
        </div>
        <div class="twitter">
          <img class="group10" src="../assets/group9.svg" />
        </div>
        <div class="linkedin">
          <img class="group11" src="../assets/group10.svg" />
        </div>
        <img class="facebook" src="../assets/facebook0.svg" />
      </div>
    </div>
  </div>
  <div class="widget-suggest">
    <img class="background2" src="../assets/background2.svg" />
    <img class="image16" src="../assets/image45.png" />
    <div class="from-new-york">From New York</div>
    <div class="info2">
      <div class="product-name">
        <div class="title5">
          <div class="text3">A customer has just bought</div>
          <div class="close">
            <img class="vector4" src="../assets/vector3.svg" />
          </div>
        </div>
        <div class="uv-resistant-glasses-imported">
          UV Resistant Glasses - Imported
        </div>
      </div>
      <div class="rating-pric">
        <div class="star">
          <div class="star-filled">
            <img class="vector5" src="../assets/vector4.svg" />
          </div>
          <div class="star-filled2">
            <img class="vector6" src="../assets/vector5.svg" />
          </div>
          <div class="star-filled3">
            <img class="vector7" src="../assets/vector6.svg" />
          </div>
          <div class="star-halft">
            <img class="vector8" src="../assets/vector7.svg" />
          </div>
          <div class="star2">
            <img class="vector9" src="../assets/vector8.svg" />
          </div>
        </div>
        <div class="_250">$250</div>
        <div class="_13">(13)</div>
      </div>
      <div class="_15-minutes-ago">15 minutes ago:</div>
    </div>
  </div>
</div>